PORT=5000
NODE_ENV=development

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Anandrinki1312@
DB_NAME=golf_charity_db

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

RAZORPAY_KEY_ID=rzp_test_SYbxVzCQ2H2MPz
RAZORPAY_KEY_SECRET=upjhOUUzmV9l1fcwe7SVvmaD

# Email (Nodemailer - using Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=Golf Charity Platform <your_email@gmail.com>

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Upload directory
UPLOAD_DIR=uploads
